<div class="footer">
  <div class="footer-top">
    <ul class="footer-menu">
      <li class="footer-item"><a href="#">Socials</a>
          <ul class="footer-submenu">
            <li class="submenu-item"><a href="#">Faceboor</a></li>
            <li class="submenu-item"><a href="#">Flickr</a></li>
            <li class="submenu-item"><a href="#">Twitter</a></li>
            <li class="submenu-item"><a href="#">Vimeo</a></li>
          </ul>
        </li>
      <li class="footer-item"><a href="">Links</a>
          <ul class="footer-submenu">
            <li class="submenu-item"><a href="">How to Write a Blog</a></li>
            <li class="submenu-item"><a href="">Create a Blog in 4 Steps</a></li>
            <li class="submenu-item"><a href="">15 Tips to Increase Traffic</a></li>
            <li class="submenu-item"><a href="">20 Blog Post Ideas</a></li>
          </ul>
        </li>
      <li class="footer-item"><a href="">Blogroll</a>
          <ul class="footer-submenu">
            <li class="submenu-item"><a href="">Blogs Blog</a></li>
            <li class="submenu-item"><a href="">Roll Up Roll Up</a></li>
            <li class="submenu-item"><a href="">Blog Free</a></li>
            <li class="submenu-item"><a href="">Wordpress Blog</a></li>
          </ul>
        </li>
      <li class="footer-item"><a href="">About us</a>
          <ul class="footer-submenu">
            <li class="submenu-item"><a href="">Agriculture</a></li>
            <li class="submenu-item"><a href="">Harvest</a></li>
            <li class="submenu-item"><a href="">Company news</a></li>
            <li class="submenu-item"><a href="">Investor relations</a></li>
          </ul>
        </li>
    </ul>
  </div>
  <div class="footer-bottom">
      <ul class="bottom-list">
        <li class="bottom-item"><img src="img/location-pointer.svg" alt="">BuildHomeLtd.  Street Name 123   23 45 Cityname</li>
        <li class="bottom-item"><img src="img/iphone.svg" alt="">+123 900 123 456</li>
        <li class="bottom-item"><img src="img/mail.svg" alt="">info@buildhome.web</li>
      </ul>
      <p class="legaly">© 2014 Build Home</p>
    </div>
</div>
