<div class="header">
  <div class="headertop">
        <div class="header-logo"></div>
        <div class="header-communitys">
          <ul class="communitys-list">
            <li class="communitys-list__item"><a href=""></a></li>
            <li class="communitys-list__item"><a href=""></a></li>
            <li class="communitys-list__item"><a href=""></a></li>
            <li class="communitys-list__item"><a href=""></a></li>
            <li class="communitys-list__item"><a href=""></a></li>
          </ul>
         </div>

   </div>

   <div class="headerbottom">
     <nav class="header-navigation">
       <ul class="navigation-list">
          <li class="navigation-item"><a href="#">HOME</a></li>
          <li class="navigation-item"><a href="#">FEATURES</a></li>
          <li class="navigation-item"><a href="#">SERVICES</a></li>
          <li class="navigation-item"><a href="#">NEWS</a></li>
          <li class="navigation-item"><a href="#">SHOP</a></li>
       </ul>
     </nav>
     <form action="#">
       <input type="text" placeholder="Search..." class="input" value="Search...">
       <img src="img/searching.svg" alt="" class="form-img">
     </form>
  </div>

</div>
